.upcoming-movie-header {
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

.released-movie-section {
    display: flex;
}

.release-movies-list {
    display: flex;
    margin: 16px;
    width: 76vw;
}

.filter-section {
    margin:16px;
    width: 24vw;
    padding-top: 80px;
}

.movies-grid-list {
    padding: 20px !important;
}

.input-width {
    width: 100%;
    padding-bottom: 20px !important;
}

.apply-button {
    width: 100%;
}

.movie-img {
    cursor: pointer;
}

.movie-filter-grid {
    width: 100%;
}