.header {
    background: #222;
    height: 36px;
    padding: 8px 16px 8px 32px;
}

.logo {
    float:  left;
}

.logo-icon {
    background-color: #ff7f7f;
    height: 35px;
    animation: rotate 8s linear infinite;
}
.button-section {
    float: right;
}
.btn-align {
    margin-right: 10px !important;
}

.model-align {
    max-width: 320px;
    margin: 80px auto 0px;
    background: #fff;
}

.tab-content {
    text-align: center;
}

.login-btn, .reg-btn {
    margin-top: 30px !important;
}

.form-input {
    margin-top: 10px !important;
}

@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }